---
---

@import "{{ site.theme }}";


.wrapper {
  max-width: 1080px;
}

section {
  max-width: 100%;
}

#header nav {
  max-width: 900px;

#footer {
  z-index: 100;
  left: 0;
  top: 0px;
  height: 60px;
  width: 100%;
  background: url(../images/nav-bg.gif) #353535;
  border-top: 4px solid #434343;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}

#footer nav {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
  background: blue;
  margin: 0px auto;
}

#footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer nav ul li {
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  list-style: none;
  display: inline;
  color: white;
  line-height: 50px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
  font-size: 14px;
}

#footer nav ul li.fork {
  float: left;
  margin-left: 0px;
}

#footer nav ul li.downloads {
  float: right;
  margin-left: 6px;
}


#footer nav ul li a {
  color: white;
  border: 1px solid #5d910b;
  background: linear-gradient(#93bd20, #659e10);
    background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3),0px 3px 7px rgba(0,0,0,0.7);
  background-color: #93bd20;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
